<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ea790">  <td>16/07/03 17:26:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Change_and_Check_Restriction_High_Level_Test_Flow.Change_Restrctions_Process_Call()[pri:0, instance:High_Level_Test_Flow.Change_and_Check_Restriction_High_Level_Test_Flow@2d6a9952]">Change_Restrctions_Process_Call</td> 
  <td>main@1537358694</td>   <td></td> </tr>
</table>
